{% extends 'base.html' %}
{% block content %}

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
            <h5>En tant qu'élu et/ou citoyen, je m'engage à faire tout mon possible pour soutenir les mesures suivantes :</h5></div>
      </div>
</div>

{% for domaine in dico_charte %}
<div class="site-section justify-content-center">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-8 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
              <h2 class="text-center">{{domaine.0}}</h2>
            </div>
          </div>
        </div>
{% comment %}

        <div class="row mb-5 justify-content-center">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
{% endcomment %}
        <div class="row justify-content-center">
          <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
              <ul>
{% for point in domaine.1 %}
                  <li>{{point|safe}}</li>
              {%endfor%}
              </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
              {%endfor%}

    <div class="site-section">
      <div class="container">

        <div class="row" data-aos="fade-up" data-aos-delay="500">
          <div class="col-12 text-center pt-5">
             <a href="{% url 'signer' %}" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Je soutiens la déarche, je signe !</span></a>
         </div>
        </div>
      </div>
    </div>

<hr>
{% endblock %}


