{% extends 'base.html' %}
{% block content %}

<div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-12 text-center ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2>Signataires</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Ont déjà signé la charte (et accepté d'apparaitre ici) : </span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            {%for signataire in signataires %}
              <p><a href="{% url 'profil_nom' signataire %}">{{signataire}}</a></p>
            {% endfor %}

          </div>
<div class="col-md-4" data-aos="fade-up" data-aos-delay="600"><span class="text-primary">Au total, {{nb_total}} personnes ont signé la charte</span></div>

        </div>
      </div>
    </div>

{% endblock %}


